# cache
.pytest_cache/
.ipynb_checkpoints
*.pyc

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# data
*.csv
*.parquet
*.feather
*.crc
*.snappy
*.zip
*.gzip
*.tar
data/

# binaries
*.bin
*.pkl
*.pickle
*.joblib

# dotenv
.env

# virtual environments
.venv/
.venv-*/
venv/
venv-*/
ENV/